@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #000;
        --fg-color: #aaa;
        --link-color: #e8c38d;
        --inline-code-bg-color: #411;
        --inline-code-fg-color: #bfbab0;
        --tag-bg-color: #444;
        --tag-fg-color: #999;
        --header-bg-color: rgb(39, 78, 150);
        --quote-bg-color: #191919;
    }
}
@media (prefers-color-scheme: light) {
    :root {
        --bg-color: #fff;
        --fg-color: #222;
        --link-color: #2f679b;
        --inline-code-bg-color: #eee;
        --inline-code-fg-color: #222;
        --tag-bg-color: rgb(209, 246, 255);
        --tag-fg-color: #333;
        --header-bg-color: rgb(83, 130, 218);
        --quote-bg-color: #eee;
    }
}

body {
    margin: 0;
    background: var(--bg-color);
    color: var(--fg-color);
    font-family: "UD デジタル 教科書体 NK-R", sans;
}

body > header, body > footer {
    height: 1.3rem; 
    background: var(--header-bg-color);
    a { color: var(--fg-color); text-decoration: none; }
    
    .header-container, .footer-container {
        width: 96vw;
        max-width: 720px;
        margin: auto;
    }
}
body > footer { font-size: small; margin-top: 32px; }

.main {
    width: 96vw;
    max-width: 720px;
    min-height: calc(100vh - 2.6rem - 48px - 5px);
    box-sizing: border-box;
    margin: auto;

    a { color: var(--link-color); text-decoration: none; }

    math { white-space: nowrap; }
}
