<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{% block css %}{% endblock %}">
  {% block mathjax %}{% endblock %}
</head>

<body>
  <header>
    <div class="header-container"><a href="/blog/">{{ config.title }}</a></div>
  </header>

  <main class="main">
    {% block content %} {% endblock %}
  </main>

  <footer>
    <div class="footer-container">&copy;2021 osanshouo</div>
  </footer>
</body>

</html>
