{% extends "base.html" %}

{% block title %}{{ section.title }} - {{ config.title }}{% endblock %}

{% block css %}{{ config.base_url }}/index.css{% endblock css %}


{% block content %}
<h1 class="title">
  {{ section.title }}
</h1>
<div class="article-list">
  
  {% for page in section.pages %}
  <div class="article">
    <div class="article-title"><a href="{{ page.permalink }}">{{ page.title }}</a></div>
    <div class="article-date">{{ page.date }}</div>
  </div>
  {% endfor %}

  {% for subsection in section.subsections | sort | reverse %}
  {% set subsec = get_section(path=subsection) %}
    <h2><a href="{{ subsec.permalink }}">{{ subsec.title }}</a></h2>
  
    {% set first = loop.first %}
    <details {% if first %} open {% endif %}>
      <summary>記事リストを展開</summary>
      
      {% for page in subsec.pages %}
        <div class="article">
          <div class="article-title"><a href="{{ page.permalink }}">{{ page.title }}</a></div>
          <div class="article-date">{{ page.date }}</div>
        </div>
      {% endfor %}
    </details>
  {% endfor %}
  
</div>
{% endblock content %}
