{% extends "base.html" %}

{% block title %}{{ section.title }} - {{ config.title }}{% endblock %}

{% block css %}{{ config.base_url }}/index.css{% endblock css %}
{% block css2 %}<link rel="stylesheet" href="{{ config.base_url }}/year.css">{% endblock %}


{% block content %}
<h1 class="title">
  {{ section.title }}
</h1>
<div class="article-list">
  
  {% for page in section.pages %}
  <div class="article">
    <div class="article-title"><a href="{{ page.permalink }}">{{ page.title }}</a></div>
    <div class="article-date">{{ page.date }}</div>
  </div>
  {% endfor %}

  {% for subsection in section.subsections | sort | reverse %}
  {% set subsec = get_section(path=subsection) %}
  
    {% set first = loop.first %}
    <details {% if first %} open {% endif %}>
      <summary>{{ subsec.title }}</summary>
      
      {% for page in subsec.pages %}
        <div class="article">
          <div class="article-title"><a href="{{ page.permalink }}">{{ page.title }}</a></div>
          <div class="article-date">{{ page.date | date(format="%m/%d") }}</div>
        </div>
      {% endfor %}
    </details>
  {% endfor %}
  
</div>

<!-- 他の年の記事一覧へのリンク -->
<div class="year-list">
{% set years = get_section(path="./_index.md") %}
{% set years = years.subsections | sort | reverse %}
{% for year in years %}
  {% set year = get_section(path=year) %}
  <a class="year-title" href="{{ year.permalink }}"">{{ year.title }}</a>
{% endfor %}
</div>

{% endblock content %}
